.crop-container {
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.crop-image {
  width: 100%;
  height: auto;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}
.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the opacity (last value) to control darkness */
}
